.todoInputDiv{
    height: 2rem;
}

.todoInputDiv > * {
    height: 100%;
}

.todoInput{
    width: 60%;
}

input[type="text"] {
    font-size: inherit;
    border: 1px solid white;
    height: 2rem;
    padding: .5rem;
}

input[type="text"]:focus{
    border: 1px solid gray;
    outline: gray;
}

.btn-add {
    background-color: rgb(115, 215, 255);
    border: 1px solid rgb(115, 215, 255);
    outline: none;
}

.view-toggler{
    font-family: inherit;
}