.todo-item{
    /* border:1px solid blue; */
    background-color: white;
    display: flex;
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
    min-height: 2rem;
    align-items: center;
}

.item-name, .todo-edit{
    margin-right: auto;
}

.item-name:hover{
   cursor: pointer;
}

.todo-edit{
    width: 100%;
}

.btn-edit{
    background-color: rgb(253, 144, 162);
    transition: all 1s;
}

.btn-delete{
    background-color: rgb(115, 215, 255);
}

.btn-complete{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 0 5px;
}

.btn-save{
    background-color: rgb(253, 144, 162);
    padding: 0.5rem .9rem;
}

.btn-check{
    color: rgb(45, 204, 45);
    background-color: transparent;
}

