/* .btn {
  padding: 0.5rem;
  color: white;
  border: none;
  outline: none;
}

button:disabled{
  background-color: rgb(233, 233, 233);
}

button:disabled:hover{
  cursor: auto;
}

.btn:hover{
  cursor: pointer;
} */